* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* section{
    padding-top: 10rem;
    padding-bottom: 2rem;
} */

body {
    background-color: rgb(59, 59, 59);
}

.agendamento {
    height: 56px;
    background-color: #f15025;
    color: white;
    text-shadow: 2px 1px black;
    font-size: 23px;
    font-family: 'Spicy Rice', serif;
    border-radius: 8px;
    width: 17vw;
}

.agendamento:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

/*Duvidas
1-Em home, como colocar a subcapa de fundo? - Ok
2-No Header, como definir a navegação para exatamente o ponto que eu quero? - Ok
3-No botão de agendamento, como fazer a transição ser suave quando eu RETIRO 
    o mouse? 
4-Na galeria de fotos, as fotos não estão aparecendo 
5-No modo responsivo, em home, como fazer o texto SUBIR 
    à medida em que a largura de tela diminui?
6-Porque o tamanho das letras diminui quando eu vario o tamanho da tela?
7-Centralizar as seções no modo responsivo
8-Como deixar o botão responsivo?

*/