header {
    padding: 15px 10%;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
}

.ul-header {
    border: 1px solid white;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

img {
    display: flex;
    align-items: center;
}

.a-logo {
    font-family: 'Spicy Rice', serif;
    font-size: 30px;
}

.a-logo>img{
    height: 60px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu>li {
    margin: 0 10px;
}

a {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
}

.menu a:hover {
    background-color: #f15025;
    font-family: 'Spicy Rice', serif;
    text-shadow: 2px 2px black;
}

.tel {
    display: flex;
}

.tel img {
    width: 15px;
    height: auto;
    margin-right: 5px;
}