.home {
    display: flex;
    border: 1px solid rgb(148, 28, 28);
}

.description {
    min-width: 40%;
    padding: 25vh 10%;
    color: white;
    /* A imagem de fundo abaixo não está aparecendo. Porque? */
    background-image: url("styles/images/imagens/subcapa.jpg");
}

.description h1 {
    text-align: center;
    font-family: 'Spicy Rice', serif;
    font-size: 50px;
    margin: 15px;
    text-shadow: 5px 1px black;
}

.description p {
    margin: 15px 0;
    line-height: 23px;
    text-align: justify;
    font-size: 18px;
}

.imagem-home {
    width: 55vw;
    height: auto;
    margin: 0;
}

.services-container>.agendamento {
    margin: 45px auto;
}