.about {
    /* border: 1px solid white; */
    width: 1050px;
    margin: 0 auto;
    display: flex;
    padding-top: 15vh;
}
.aboutUs {
    width: 50%;
}

.aboutUs>h2 {
    text-align: center;
}

.aboutUs>p {
    color: white;
    margin: 0 15px 10px;
}

/* .slider>h2 {
    text-align: center;
}

.slider{
    overflow: hidden;

}
.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: auto;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content{
    transform: translateX(-300%);
} */


.sectionContainer{
    width: 100%;
    height: 100%;
}


.carousel {
    position: relative;
    width: 100%;
    height: 100%;
  }

.sectionContainer .carousel{
    width: 50%;
}

.carousel img {
/* position: absolute;
top: 0;
left: 0; */
width: 100%;
height: 100%;
border-radius: 5px;
}

.carousel button {
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: transparent;
border: none;
color: white;
font-size: 32px;
cursor: pointer;
}

.carousel .prev {
left: 20px;
}
.carousel .next {
right: 20px;
}