@media (max-width: 1024px) {
    /* Header */
    header {
        padding: 10px;
    }
    
    /* Home */
    .home {
        align-items: center;
    }

    .imagem-home {
        margin-top: 180px;
        width: 100vw;
    }


}

/* rem, em, % */


@media (max-width: 768px) {

   
    /* Header */
    .ul-header {
        display: flex;
        flex-direction: column;
    }

    .menu {
        /* margin: 30px; */
        padding: 0.5rem;
    }


    /* Home */

    section .home{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }


    /* .description {
        padding: 5vh 10%;
    } */
    
    

    /* Services */
    .container {
        /* border: 1px solid red; */
        margin: 0 auto;
        align-self: center;
    }

    .services {
        /* border: 1px solid white; */
    }

    .services-container {
        flex-direction: column;
        align-content: center;
        margin: auto;
        width: 100%;
    }

    .services-card {
        align-self: center;
        padding: 5vh;
    }

    /* About */
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 5vw;
        
        width: 100%;
    }

    .aboutUs {
        margin: 5vh 0;
        width: 100%;
    }

    .slider {
        width: 100%;
    }

    /* Contact  */

    .contactContainer {
        flex-direction: column;
    }

    .contato, .schedules {
        border: 1px solid white;
        margin: 5vh;
    }

    .socialMedia {
        align-items: center;
        align-self: center;
        align-content: center;
        text-align: center;
        
    }

}

